.news .mint-swipe-items-wrap{
	padding-bottom: 45%;
}
.news .mint-swipe-items-wrap img{
	width: 100%;
	position: absolute;
	top: -10%;
}
.news .mt-swipe-item{
	position: relative;
}
.news .mint-swipe-items-wrap span{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px 0;
	padding-left: 10px;
	display: block;
	background: rgba(0,0,0,0.6);
	color: #fff;
	font-size: .16rem;
}
.news .mint-swipe-items-wrap .iconfont{
	color: red;
	font-size: .18rem;
	margin-right: 10px;
}
.auto-news{
	box-shadow: 0 0 10px #333;
}
.mint-swipe-indicators{
	z-index: 100;
}